<div class="collections">
  <a class="collections__item" href="#">
    <img src="images/collections-1.avif" alt="" class="collections__img" />
    <div class="collections__info">
      <h6 class="collections__info-title">Truffaut literally trust</h6>
      <p class="collections__info-text">Living room furntiture | Chair</p>
    </div>
  </a>
  <a class="collections__item" href="#">
    <img src="images/collections-2.avif" alt="" class="collections__img" />
    <div class="collections__info">
      <h6 class="collections__info-title">Truffaut literally trust</h6>
      <p class="collections__info-text">Living room furntiture | Chair</p>
    </div>
  </a>
  <a class="collections__item" href="#">
    <img src="images/collections-3.avif" alt="" class="collections__img" />
    <div class="collections__info">
      <h6 class="collections__info-title">Truffaut literally trust</h6>
      <p class="collections__info-text">Living room furntiture | Chair</p>
    </div>
  </a>
  <a class="collections__item" href="#">
    <img src="images/collections-4.avif" alt="" class="collections__img" />
    <div class="collections__info">
      <h6 class="collections__info-title">Truffaut literally trust</h6>
      <p class="collections__info-text">Living room furntiture | Chair</p>
    </div>
  </a>
  <a class="collections__item" href="#">
    <img src="images/collections-5.avif" alt="" class="collections__img" />
    <div class="collections__info">
      <h6 class="collections__info-title">Truffaut literally trust</h6>
      <p class="collections__info-text">Living room furntiture | Chair</p>
    </div>
  </a>
</div>
