<aside class="aside">
  <form class="aside__form">
    <input type="text" class="aside__form-search" placeholder="Search" />
    <button class="aside__form-btn" type="submit">
      <img src="/images/search-icon.svg" alt="" />
    </button>
  </form>
  <div class="blog__category">
    <h6 class="aside-title">Categories</h6>
    <ul class="blog__category-list">
      <li class="blog__category-item">
        <a href="#" class="blog__category-link blog__category-link--active">
          Dining room (1)
        </a>
      </li>
      <li class="blog__category-item">
        <a href="#" class="blog__category-link">Office furniture (12)</a>
      </li>
      <li class="blog__category-item">
        <a href="#" class="blog__category-link">Simple interiror design (2)</a>
      </li>
      <li class="blog__category-item">
        <a href="#" class="blog__category-link">Design (4)</a>
      </li>
      <li class="blog__category-item">
        <a href="#" class="blog__category-link">Bedroom Furniture (1)</a>
      </li>
    </ul>
  </div>
  <div class="recent-posts">
    <h6 class="aside-title">Recent Posts</h6>
    <ul class="recent-posts__list">
      <li class="recent-posts__item">
        <a href="#" class="recent-posts__item-link"
          >Cred selfies edison bulb four dollar toast humblebrag</a
        >
        <span class="recent-posts__item-date">August 10, 2020 |</span>
        <a href="#" class="recent-posts__item-author">by Ann Summers</a>
      </li>
      <li class="recent-posts__item">
        <a href="#" class="recent-posts__item-link"
          >Semiotics fixie four dollar toast, next level woke scenester direct
          trade photo booth</a
        >
        <span class="recent-posts__item-date">August 10, 2020 |</span>
        <a href="#" class="recent-posts__item-author">by Ann Summers</a>
      </li>
      <li class="recent-posts__item">
        <a href="#" class="recent-posts__item-link"
          >Cred selfies edison bulb four dollar toast humblebrag</a
        >
        <span class="recent-posts__item-date">August 10, 2020 |</span>
        <a href="#" class="recent-posts__item-author">by Ann Summers</a>
      </li>
    </ul>
  </div>
  <div class="tags">
    <h6 class="aside-title">Tags</h6>
    <div class="tags__inner">
      <a href="#" class="tags__link">Dining room futniture</a
      ><a href="#" class="tags__link">Chair</a
      ><a href="#" class="tags__link">Table</a
      ><a href="#" class="tags__link">Bedroom</a
      ><a href="#" class="tags__link">Office Furniture</a>
    </div>
  </div>

  <div class="blog__social">
    <ul class="blog__social-list">
      <li class="blog__social-item">
        <a href="#" class="blog__social-link"
          ><img src="/images/fb.svg" alt="" class="blog__social-img"
        /></a>
      </li>
      <li class="blog__social-item">
        <a href="#" class="blog__social-link"
          ><img src="/images/pr.svg" alt="" class="blog__social-img"
        /></a>
      </li>
      <li class="blog__social-item">
        <a href="#" class="blog__social-link"
          ><img src="/images/wa.svg" alt="" class="blog__social-img"
        /></a>
      </li>
      <li class="blog__social-item">
        <a href="#" class="blog__social-link"
          ><img src="/images/yt.svg" alt="" class="blog__social-img"
        /></a>
      </li>
      <li class="blog__social-item">
        <a href="#" class="blog__social-link"
          ><img src="/images/ig.svg" alt="" class="blog__social-img"
        /></a>
      </li>
    </ul>
  </div>
</aside>
